*{
    margin: 0%;
    padding: 0%;
}

header{
    background-color: black;
    display: flex;
    color: #fff;
    align-items:center ;
    justify-content: flex-end;
    height:50px;

}
nav ul{
    display:flex ;
    gap:2rem;
    padding-top:5px;
    color: #fff;
}
nav ul li{
    list-style-type: none;
    font-size:150%;
    
}
img{
    height:200px;
    width:260px;
    margin:0%;
}
body{
    gap:10px;
}
.section-1{
    height: 200px;
    display:flex;
    align-items:center;
    gap:4px;
    justify-content:space-evenly;
    background-color: #fff;

}
.section-2{
    height: 200px;
    display:flex;
    align-items:center;
    gap:4px;
    justify-content:space-evenly;
    background-color: #fff;
}
.section-3{
    height: 200px;
    display:flex;
    align-items:center;
    gap:4px;
    justify-content:space-evenly;
    background-color: #fff;

}
body h2{
    font-size: 3rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
text-decoration:underline
}
p{
 font-size:20px;
}
footer{
    background-color: black;
    display: flex;
    color: #fff;
    align-items:center ;
    justify-content:center;
    height:50px;
}